DEBUG=True
SECRET_KEY='Ключ вашего приложения'
POSTGRES_DB=foodgram'Название БД'
POSTGRES_USER=frostan 'Пользователь БД'
POSTGRES_PASSWORD=12345 'Пароль для БД'
DB_HOST=foodgram 'Название контейнера'
DB_PORT=5432 'Порт БД'